.site-header {
    background: #303030;
    color: #acacac;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 1em;
}

.site-header .btn {
    margin: 0;
}

.site-header h1 {
    margin: 0;
}

.site-header h1 a {
    color: #acacac;
    font-size: 2rem;
    text-decoration: none;
}