:root {
  --btn-bg-primary-color: #3498DB;
  --btn-bg-secondary-color: #A569BD;
  --btn-bg-danger-color: #CB4335;
  --btn-bg-disabled-color: #525252;
  --btn-bg-cta-color: #F39C12;

  --text-primary-color: #1b1b1b;
  --text-secondary-color: #717171;

  --link-primary-color: #084B8A;
  --link-secondary-color: #0174DF;
}

body, header {
  overflow-x: hidden;
}

a,
a:visited,
a:focus {
  color: var(--link-primary-color);
}
a:hover {
  color: var(--link-secondary-color);
}

input, button {
  height: 2.5em;
  padding: 0 1em;
  margin-bottom: 1em;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  border: 1px solid black;
}
td {
  border: 1px solid black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button {
  margin: 0;
  height: 2rem;
}

.site-nav {
  display: flex;
}

.site-nav > a {
  color: rgb(255,255,255);
  padding: 1em;
  text-decoration: none;
}

.site-nav > a:hover {
  color: rgb(230,230,230);
}


.btn {
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  color: white !important;
  cursor: pointer;
  display: inline-block;
  line-height: 2rem;
  padding: 0 .75rem;
  text-decoration: none;
  margin-right: .5em;
  margin-bottom: .5em;
}

.btn-primary {
  background: var(--btn-bg-primary-color);
}

.btn-secondary {
  background: var(--btn-bg-secondary-color);
}

.btn-danger {
  background: var(--btn-bg-danger-color);
}

.btn-disabled {
  background: var(--btn-bg-disabled-color);
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.action-buttons button:last-of-type {
  margin-right: 0;
}



.error {
  border: 1px solid rgb(128,0,0);
  background-color: rgba(128,0,0,.3);
  color: rgb(128,0,0);
  padding: 1em;
  list-style: none;
}

.success {
  border: 1px solid rgb(0,100,0);
  background-color: rgba(0,100,0,.3);
  color: rgb(0,100,0);
  padding: 1em;
}




/* Sign In Page */
.signin-form {
  max-width: 30em;
  margin: 0 auto;
  padding: 1em;
}

.signin-form > form > * {
  display: block;
  width: 100%;
}




/* Gift Page */
.gifts-grid {
  max-width: 60em;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5em;
  row-gap: 1.5em;
  list-style: none;
}

.gift-card a {
  text-decoration: none;
}

.gift-title {
  color: var(--text-primary-color);
  font-weight: 800;
}

.gift-brand {
  color: var(--text-secondary-color);
  font-weight: 400;
}

.gift-price {
  color: var(--text-primary-color);
  font-weight: 600;
}

.gift-img {
  width: 100%;
  height: 13em;
  object-fit: contain;
}



@media screen and (min-width: 650px) {
  .gifts-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .gifts-grid {
    max-width: 80em;
  }
  .gifts-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}






/* Gift Detail Page */
.gift-detail-card {
  max-width: 60em;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-areas: 
            "brand price"
            "title price"
            "img img"
            "description description"
            "action action";
}

.gift-detail-brand {
  grid-area: brand;
}

.gift-detail-title {
  grid-area: title;
}

.gift-detail-price {
  grid-area: price;
  margin: 0;
}

.gift-detail-description {
  grid-area: description;
}

.gift-detail-img {
  grid-area: img;
}

.gift-detail-actions {
  display: flex;
  justify-content: space-between;
  grid-column: 2 / 4;
}


@media screen and (min-width: 650px) {
  .gift-detail-card {
    grid-template-columns: 5fr 4fr 1fr;
    grid-template-areas: 
              "img brand price"
              "img title price"
              "img description description"
              "img action action";
  }
}





/* Admin Pages */
.admin-add {
  max-width: 60em;
  margin: 0 auto;
  padding: 1em;
}

.admin-add-form {
  max-width: 40em;
  margin: 0 auto;
}
.admin-add-form > * {
  width: 100%;
}









/* Admin Pages */
.admin-gift-container {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

.admin-add-button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 44px;
  text-align: center;
  margin: 0;
  vertical-align: middle;
  line-height: 52px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.admin-gift-list {
  display: block;
  margin-bottom: 1em;
}

.admin-gift-list:nth-child(even) {
  background-color: #f1f1f1;
}



@media screen and (min-width: 700px) {
  .admin-gift-list {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 6fr 1fr 2fr ;
    width: 90%;
    margin: 0 auto;
  }

  .admin-gift-list .gift-img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .admin-gift-list .gift-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .admin-gift-list .gift-brand {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  .admin-gift-list .gift-description {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
  .admin-gift-list .gift-price {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
  }
  .admin-gift-list .admin-gift-actions {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
  }

  .admin-gift-list > * {
    padding: 1em;
    margin: 0;
  }

}